.darkmode {
  background-color: #020202;
  .logo {
    color: #fff;
  }

  nav a {
    color: #fff;
  }

  nav a:hover {
    color: #ccc;
  }

  .checkout button,
  .detail,
  .title,
  .des,
  .topic {
    color: #fff;
  }
  .arrows #back {
    color: #fff;
  }

  .arrows #back:hover {
    color: #4801ff;
    border-bottom-color: #4801ff;
  }

  .seeMore {
    cursor: pointer;
    color: #fff;
  }
  .seeMore:hover {
    color: #4801ff;
    border-bottom: 1px solid #4801ff;
  }
  footer {
    color: #fff;
    background-color: #000;
  }
  footer svg {
    fill: #fff;
  }
  .carousel::before {
    background-image: linear-gradient(45deg, #da2e13, #4801ff);
  }
}

#label {
  display: inline-block;
  background-color: #ffffff3f;
  border: 1px solid #000;
  width: 60px;
  height: 31px;
  border-radius: 15px;
  position: fixed;
  cursor: pointer;
  top: 20px;
  right: 10px;
  transition: 0.3s;
  z-index: 1000;
}

#label:hover {
  background-color: #ffffff7a;
}

#darkmode-id {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: 10;
  cursor: pointer;
}

#span-darkmode::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background-image: url("https://cdn3.iconfinder.com/data/icons/meteocons/512/sun-symbol-512.png");
  background-size: cover;
  transition: 0.5s;
  border-radius: 50%;
}

#darkmode-id:checked + span::before {
  background-image: url("../moon.png");
  left: 45%;
}
